<html>

    <head>
        <title>Bookmarks</title>
    </head>

    <body>
        <h1>Bookmarks (One Bookmark)</h1>
        <!-- ---------- -->
        <hr width="100%" size="1">

        <b>User: {{ username }}</b> |
        <a href="/home">Home</a> |
        <a href="#">My Bookmarks</a> |
        <a href="#">Popular Bookmarks</a> |
        <a href="/logout">Log Out</a>

        <br><br>

        errors: >{{ errors }}< <br>
        fields: >{{ fields }}< <br>
        bookmark: >{{ bookmark.key }}< <br>
        tagnames: >{{ tagnames }}<

        <br><br>

        <b>New Bookmark</b>

        <form method="post" action="/bookmark">
            <input type="hidden" name="key" value="{{ bookmark.key }}"><br>
            <input type="text" name="title" placeholder="Title" value="{{ bookmark.title }}"><br>
            <input type="text" name="link" placeholder="Link" value="{{ bookmark.link }}"><br>
            <input type="text" name="tags" placeholder="Tags" value="{{ tagnames }}"><br>
            <input type="submit" value="Submit">
        </form>

        <br>

    </body>

</html>
